---
layout: default
permlink: /
---
<div class="page-content">
    {% assign orderedpages = site.pages | sort: 'id' %}
    {% for page in orderedpages%}
    {% if page.categories contains "page" %}
    {% if page.categories contains "highlight" %}
    {% if page.lang contains site.active_lang %}
    <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" {% if page.image %} style="background: url({{ page.image | asset_path }}) center/cover;" {% endif %}></header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>{{ page.title }}</h4>
          <p>{{ page.intro }}</p>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ page.url | prepend: site.baseurl }}">{% if site.active_lang == "zh_CN" %} 阅读更多 {% else %} Read More {% endif %}</a>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn-high">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn-high">
        <li><a href="https://www.facebook.com/dialog/share?app_id={app_id}&display=page&href={{ page.url | prepend: site.baseurl }}&redirect_uri={{ site.baseurl }}" class="mdl-menu__item">Facebook</a></li>
        <li><a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl }}&text={{ page.title }}&via={{ site.twitter_username }}" class="mdl-menu__item">Twitter</a></li>
        <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl }}" class="mdl-menu__item">Google+</a></li>
      </ul>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}

    <div class="mdl-grid">
    {% for page in orderedpages%}
    {% if page.categories contains "page" %}
    {% unless page.categories contains "highlight" %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title" {% if page.image %} style="background: url({{ page.image | asset_path }}) center/cover;" {% endif %}>
        <h2 class="mdl-card__title-text">{{ page.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{ page.intro }}</p>
      </div>
      <button class="post-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="location.href='{{ page.url | prepend: site.baseurl }}'">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-card__supporting-text">{% if site.active_lang == "zh_CN" %} 更新于 {{ page.last_modified_at | date: '%Y 年 %m 月 ' }} {% else %} Updated: {{ page.last_modified_at | date: '%b %Y' }} {% endif %}</div>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="page-{{ page.id }}">
          <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="page-{{ page.id }}">
          <li><a href="https://www.facebook.com/dialog/share?app_id={app_id}&display=page&href={{ page.url | prepend: site.baseurl }}&redirect_uri={{ site.baseurl }}" class="mdl-menu__item">Facebook</a></li>
          <li><a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl }}&text={{ page.title }}&via={{ site.twitter_username }}" class="mdl-menu__item">Twitter</a></li>
          <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl }}" class="mdl-menu__item">Google+</a></li>
        </ul>
      </div>
    </div>
    {% endunless %}
    {% endif %}
    {% endfor %}
    </div>
</div>
